:root {
  --radius: 0.675rem;
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0.2795 0.0368 260.03);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2795 0.0368 260.03);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2795 0.0368 260.03);
  --primary: oklch(0.6582 0.169 248.81);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.2795 0.0368 260.03);
  --muted: oklch(0.9683 0.0069 247.9);
  --muted-foreground: oklch(0.5544 0.0407 257.42);
  --accent: oklch(0.9683 0.0069 247.9);
  --accent-foreground: oklch(0.2795 0.0368 260.03);
  --destructive: oklch(0.6424 0.2215 19.4);
  --success: oklch(69.6% 0.17 162.48);
  --warning: oklch(0.7866 0.1617 83.12);
  --danger: oklch(0.6424 0.2215 19.4);
  --border: oklch(0.9288 0.0126 255.51);
  --input: oklch(0.9288 0.0126 255.51);
  --ring: oklch(0.6582 0.169 248.81);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.2046 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.2478 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.6582 0.169 248.81);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2478 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2478 0 0);
  --muted-foreground: oklch(0.709 0 0);
  --accent: oklch(0.2478 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.6582 0.169 248.81);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
}
