:root {
  --radius: 0.675rem;
  --background: oklch(0.9846 0.0017 247.84);
  --foreground: oklch(0.485 0.0514 280.13);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.485 0.0514 280.13);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.485 0.0514 280.13);
  --primary: oklch(0.6582 0.169 248.81);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(96.8% 0.007 247.896);
  --secondary-foreground: oklch(0.485 0.0514 280.13);
  --muted: oklch(96.8% 0.007 247.896);
  --muted-foreground: oklch(0.686 0.0326 267.08);
  --accent: oklch(96.8% 0.007 247.896);
  --accent-foreground: oklch(0.485 0.0514 280.13);
  --destructive: oklch(0.6424 0.2215 19.4);
  --success: oklch(69.6% 0.17 162.48);
  --warning: oklch(0.7866 0.1617 83.12);
  --danger: oklch(0.6424 0.2215 19.4);
  --border: oklch(0.948 0.009857 267.36);
  --input: oklch(0.948 0.009857 267.36);
  --ring: oklch(0.6582 0.169 248.81);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
  --background: oklch(0.2041 0.0119 292.96);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.2434 0.0133 291.94);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.2725 0.0166 285.25);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.6582 0.169 248.81);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2725 0.0166 285.25);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2725 0.0166 285.25);
  --muted-foreground: oklch(0.7289 0.0122 252.12);
  --accent: oklch(0.2725 0.0166 285.25);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.6582 0.169 248.81);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}
