:root {
  --radius: 0.675rem;
  --background: oklch(0.9798 0.0067 277.16);
  --foreground: oklch(0.485 0.0514 280.13);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.485 0.0514 280.13);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.485 0.0514 280.13);
  --primary: oklch(0.6582 0.169 248.81);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.485 0.0514 280.13);
  --muted: oklch(0.9741 0.008 278.64);
  --muted-foreground: oklch(0.686 0.0326 267.08);
  --accent: oklch(0.9741 0.008 278.64);
  --accent-foreground: oklch(0.485 0.0514 280.13);
  --destructive: oklch(0.6424 0.2215 19.4);
  --success: oklch(69.6% 0.17 162.48);
  --warning: oklch(0.7866 0.1617 83.12);
  --danger: oklch(0.6424 0.2215 19.4);
  --border: oklch(0.948 0.009857 267.36);
  --input: oklch(0.948 0.009857 267.36);
  --ring: oklch(0.6582 0.169 248.81);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
}

.dark {
  --background: oklch(0.2041 0.0119 292.96);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.2434 0.0133 291.94);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.2434 0.0133 291.94);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.6582 0.169 248.81);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2434 0.0133 291.94);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2434 0.0133 291.94);
  --muted-foreground: oklch(0.7289 0.0122 252.12);
  --accent: oklch(0.2434 0.0133 291.94);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.6582 0.169 248.81);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
}
